In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%sql postgresql://postgres:password@localhost:5432/udacity

In [8]:
# pip install pgspecial==1.13.1

In [9]:
%%sql
\dt

 * postgresql://postgres:***@localhost:5432/udacity
2 rows affected.

[('public', 'bad_comments', 'table', 'postgres'),
 ('public', 'bad_posts', 'table', 'postgres')]

In [10]:
%%sql
select * from bad_comments
limit 5;

 * postgresql://postgres:***@localhost:5432/udacity
5 rows affected.

[(1, 'Liliane.Lakin40', 2615, 'Voluptatem cum nisi maxime itaque porro. Tempore animi fugit mollitia consequuntur occaecati maxime quisquam et. Et autem sed quasi.'),
 (2, 'Adeline99', 6755, 'Ab ea ad velit tempore. Consectetur quis corporis modi id. Rerum dolorem quas doloremque eaque iusto fugiat sapiente. Voluptas id tempore nisi est et maxime porro illo.'),
 (3, 'Darrel_Reynolds', 9102, 'Atque quaerat et. Omnis consequatur qui possimus sit accusantium dicta. Praesentium a fugiat nisi. Qui consequatur sed rerum excepturi sunt ratione. Omnis eius et officia doloribus suscipit similique porro corrupti nam.'),
 (4, 'Kolby.Langosh', 9734, 'Ratione facilis et beatae aut temporibus et qui nemo. Dolores officiis sapiente quod blanditiis harum quo. Error deleniti facilis reprehenderit fugit praesentium consequatur aut. Aut sit nisi.'),
 (5, 'Jared_Koss45', 890, 'Veritatis doloribus officiis cupiditate quibusdam voluptatem facilis vel possimus. Consectetur saepe voluptatem minus debitis et.')]

- Storing the username directly in the comment table duplicates user data. If the same user posts multiple comments their username is repeated unnecessarily. This violates database normalization (specifically the First Normal Form, 1NF).
- If a user changes their username, we will need to update every comment row referencing that user. This is error-prone and inefficient.
- Without a centralized source of truth for usernames, inconsistencies can arise. For example, 
A typo in the username (e.g., Jared_Koss45 vs. Jared_Koss45) creates invalid or duplicate entrie Also, 

If a user is deleted from the system, their orphaned comments would still show a username that no longer exists.

In [54]:
%%sql
select * from bad_posts
limit 1;

 * postgresql://postgres:***@localhost:5432/udacity
1 rows affected.

[(1, 'Synergized', 'Gus32', 'numquam quia laudantium non sed libero optio sit aliquid aut voluptatem', None, 'Voluptate ut similique libero architecto accusantium inventore fuga. Maxime est consequatur repellendus commodi. Consequatur veniam debitis consequatur. Et eaque a. Magnam ea rerum eos modi. Accusamus aut impedit perferendis. Quasi est ipsum.', 'Judah.Okuneva94,Dasia98,Maurice_Dooley14,Dangelo_Lynch59,Brandi.Schaefer,Jayde.Kulas74,Katarina_Hudson,Ken.Murphy42', 'Lambert.Buckridge0,Joseph_Pouros82,Jesse_Yost')]

In [161]:
%%sql

DROP TABLE IF EXISTS "users" CASCADE;

CREATE TABLE IF NOT EXISTS "users"  (
    "id" SERIAL PRIMARY KEY,
    "username" VARCHAR(25) NOT NULL,
    "last_login" TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "unique_username" UNIQUE ("username"),
    CONSTRAINT "non_empty_username" CHECK (TRIM("username") != '')
);

 * postgresql://postgres:***@localhost:5432/udacity
Done.
Done.

[]

In [162]:
%%sql
INSERT INTO "users" ("username")
SELECT DISTINCT "username"
FROM (
    -- Usernames from posts
    SELECT "username" FROM bad_posts
    UNION
    -- Usernames from comments
    SELECT "username" FROM bad_comments
    UNION
    -- Usernames from upvotes (split comma-separated list)
    SELECT regexp_split_to_table(upvotes, ',') 
    FROM bad_posts
    UNION 
    -- Usernames from downvotes (split comma-separated list)
    SELECT regexp_split_to_table(downvotes, ',') 
    FROM bad_posts
) AS combined_usernames;

 * postgresql://postgres:***@localhost:5432/udacity
11077 rows affected.

[]

In [83]:
%%sql
SELECT *  FROM users limit 5

 * postgresql://postgres:***@localhost:5432/udacity
5 rows affected.

[(1, 'Aaliyah.Kilback', datetime.datetime(2025, 3, 18, 18, 58, 45, 564314, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))),
 (2, 'Aaliyah.Waelchi', datetime.datetime(2025, 3, 18, 18, 58, 45, 564314, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))),
 (3, 'Aaliyah_Spencer25', datetime.datetime(2025, 3, 18, 18, 58, 45, 564314, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))),
 (4, 'Aaliyah3', datetime.datetime(2025, 3, 18, 18, 58, 45, 564314, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))),
 (5, 'Aaron.Mills81', datetime.datetime(2025, 3, 18, 18, 58, 45, 564314, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))))]

In [73]:
%%sql
SELECT CURRENT_TIMESTAMP

 * postgresql://postgres:***@localhost:5432/udacity
1 rows affected.

[(datetime.datetime(2025, 3, 18, 18, 47, 56, 582544, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),)]

In [75]:
%%sql
SELECT pg_typeof(last_login) FROM users limit 3

 * postgresql://postgres:***@localhost:5432/udacity
3 rows affected.

[('timestamp without time zone',),
 ('timestamp without time zone',),
 ('timestamp without time zone',)]

In [163]:
%%sql
DROP TABLE IF EXISTS "topics" CASCADE;
CREATE TABLE IF NOT EXISTS "topics" (
    "id" SERIAL PRIMARY KEY,
    "topic" VARCHAR(30) NOT NULL,
    "description" VARCHAR(500),
    CONSTRAINT "unique_topic" UNIQUE ("topic"),
    CONSTRAINT "non_empty_topic" CHECK (TRIM("topic") <> '')

);

 * postgresql://postgres:***@localhost:5432/udacity
Done.
Done.

[]

In [164]:
%%sql
INSERT INTO topics ("topic")
select distinct topic
from  bad_posts

 * postgresql://postgres:***@localhost:5432/udacity
89 rows affected.

[]

In [104]:
%%sql
select *
from topics
limit 5;

 * postgresql://postgres:***@localhost:5432/udacity
5 rows affected.

[(1, 'navigate', None),
 (2, 'Boliviano_Mvdol', None),
 (3, 'Vermont', None),
 (4, 'Bedfordshire', None),
 (5, 'Representative', None)]

In [165]:
%%sql
DROP TABLE "posts" CASCADE;

CREATE TABLE IF NOT EXISTS "posts" (
    "id" SERIAL PRIMARY KEY,
    "user_id" INTEGER REFERENCES "users" ("id") ON DELETE SET NULL,
    "topic_id" INTEGER NOT NULL REFERENCES "topics" ("id") ON DELETE CASCADE,
    "title" VARCHAR(100) NOT NULL,
    "url" VARCHAR,
    "text_content" TEXT,
    "created_at" TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "non_empty_post" CHECK (TRIM("title") <> ''),
    CONSTRAINT "url_or_text_content" CHECK (
        "url" IS NOT NULL OR "text_content" IS NOT NULL)
    
);

 * postgresql://postgres:***@localhost:5432/udacity
Done.
Done.

[]

In [110]:
%%sql
select * from bad_comments limit 1

 * postgresql://postgres:***@localhost:5432/udacity
1 rows affected.

[(1, 'Liliane.Lakin40', 2615, 'Voluptatem cum nisi maxime itaque porro. Tempore animi fugit mollitia consequuntur occaecati maxime quisquam et. Et autem sed quasi.')]

In [166]:
%%sql
INSERT INTO posts (user_id, topic_id, title, url, text_content)
SELECT u.id, t.id, LEFT(b.title, 100), b.url, b.text_content
FROM users u
JOIN bad_posts b ON u.username = b.username
JOIN topics t ON t.topic = b.topic;

 * postgresql://postgres:***@localhost:5432/udacity
50000 rows affected.

[]

In [207]:
%%sql
DROP TABLE "comments" CASCADE;

CREATE TABLE IF NOT EXISTS "comments" (
    "id" SERIAL PRIMARY KEY,
    "text_content" TEXT NOT NULL,
    "user_id" INTEGER REFERENCES "users" ("id") ON DELETE SET NULL,
    "post_id" INTEGER NOT NULL REFERENCES "posts" ("id") ON DELETE CASCADE,
    "parent_comment_id" INTEGER REFERENCES "comments" ("id") ON DELETE CASCADE,
    "created_at" TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "non_empty_comment" CHECK (TRIM("text_content") != '')
);

 * postgresql://postgres:***@localhost:5432/udacity
Done.
Done.

[]

In [208]:
%%sql
insert into comments ("user_id", "post_id", "text_content")
select  u.id, bc.post_id, bc.text_content
from bad_comments bc
join posts p on (p.id = bc.post_id)
join users u on (u.username=bc.username);

 * postgresql://postgres:***@localhost:5432/udacity
100000 rows affected.

[]

In [206]:
%%sql
select parent_comment_id from comments
where parent_comment_id	 is not null

 * postgresql://postgres:***@localhost:5432/udacity
0 rows affected.

[]

In [139]:
%%sql
insert into comments ("parent_comment_id")
select b1.id
from bad_comments b1
join bad_comments b2 on (b1.post_id = b2.post_id)

 * postgresql://postgres:***@localhost:5432/udacity
(psycopg2.errors.NotNullViolation) null value in column "text_content" of relation "comments" violates not-null constraint
DETAIL:  Failing row contains (84776, null, null, null, 1, 2025-03-18 23:08:30.984035-04).

[SQL: insert into comments ("parent_comment_id")
select b1.id
from bad_comments b1
join bad_comments b2 on (b1.post_id = b2.post_id)]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [180]:
%%sql
SELECT id, title, username, regexp_split_to_table(upvotes, ',') upvotes, regexp_split_to_table(downvotes, ',') downvotes
FROM bad_posts
limit 10

 * postgresql://postgres:***@localhost:5432/udacity
10 rows affected.

[(1, 'numquam quia laudantium non sed libero optio sit aliquid aut voluptatem', 'Gus32', 'Judah.Okuneva94', 'Lambert.Buckridge0'),
 (1, 'numquam quia laudantium non sed libero optio sit aliquid aut voluptatem', 'Gus32', 'Dasia98', 'Joseph_Pouros82'),
 (1, 'numquam quia laudantium non sed libero optio sit aliquid aut voluptatem', 'Gus32', 'Maurice_Dooley14', 'Jesse_Yost'),
 (1, 'numquam quia laudantium non sed libero optio sit aliquid aut voluptatem', 'Gus32', 'Dangelo_Lynch59', None),
 (1, 'numquam quia laudantium non sed libero optio sit aliquid aut voluptatem', 'Gus32', 'Brandi.Schaefer', None),
 (1, 'numquam quia laudantium non sed libero optio sit aliquid aut voluptatem', 'Gus32', 'Jayde.Kulas74', None),
 (1, 'numquam quia laudantium non sed libero optio sit aliquid aut voluptatem', 'Gus32', 'Katarina_Hudson', None),
 (1, 'numquam quia laudantium non sed libero optio sit aliquid aut voluptatem', 'Gus32', 'Ken.Murphy42', None),
 (2, 'officia temporibus molestias sequi ea qui', 'Keagan_Howell', 'Marcellus31', 'Aniyah_Balistreri68'),
 (2, 'officia temporibus molestias sequi ea qui', 'Keagan_Howell', 'Amina_Larson', 'Demarcus.Berge')]

In [194]:
%%sql
WITH sub as (
    SELECT id, title, username, regexp_split_to_table(upvotes, ',') upvotes, regexp_split_to_table(downvotes, ',') downvotes
FROM bad_posts
)


select u.id, p.id,  COUNT (CASE WHEN u.username = s.upvotes and p.title = s.title then 1
ELSE -1 END AS "votes")
from  sub s
join users u on (u.username = s.username)
join posts p on (p.title = s.title))
GROUP BY 1, 2

 * postgresql://postgres:***@localhost:5432/udacity
(psycopg2.errors.SyntaxError) syntax error at or near "select"
LINE 7: select u.id, p.id,  COUNT (CASE WHEN u.username = s.upvotes ...
        ^

[SQL: WITH sub as (
    SELECT id, title, username, regexp_split_to_table(upvotes, ',') upvotes, regexp_split_to_table(downvotes, ',') downvotes
FROM bad_posts
),


select u.id, p.id,  COUNT (CASE WHEN u.username = s.upvotes and p.title = s.title then 1
ELSE -1 END AS "votes")
from  sub s
join users u on (u.username = s.username)
join posts p on (p.title = s.title))
GROUP BY 1, 2]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
SELECT u.id AS user_id

,sub1.post_id AS post_id

,(COUNT(sub1.downvotes) * - 1) AS downvotes

FROM (

SELECT bad_posts.id AS post_id

,regexp_split_to_table(bad_posts.downvotes, ',') AS downvotes

FROM bad_posts

) AS sub1

JOIN users u ON u.username = sub1.downvotes

GROUP BY 1

,2;

In [217]:
%%sql
WITH sub1 AS (SELECT bad_posts.id as post_id,
              regexp_split_to_table(bad_posts.downvotes, ',') as downvotes
              FROM bad_posts
),

sub2 AS (SELECT bad_posts.id as post_id,
              regexp_split_to_table(bad_posts.upvotes, ',') as upvotes
              FROM bad_posts
),

sub3 AS (SELECT u.id as user_id, sub1.post_id as post_id, -1 as vote
FROM sub1
JOIN users u
ON u.username = sub1.downvotes
GROUP BY 1,2
UNION
SELECT u.id as user_id, sub2.post_id as post_id, 1 as vote
FROM sub2
JOIN users u
ON u.username = sub2.upvotes
GROUP BY 1,2
)

select count(*)
from sub3
where vote = 1
UNION
select count(*)
from sub3
where vote = -1

 * postgresql://postgres:***@localhost:5432/udacity
2 rows affected.

[(249799,), (249911,)]

In [220]:
%%sql
DROP TABLE IF EXISTS "votes" CASCADE;
CREATE TABLE IF NOT EXISTS "votes" (
    "id" SERIAL PRIMARY KEY,
    "user_id" INTEGER REFERENCES "users" ("id") ON DELETE SET NULL,
    "post_id" INTEGER NOT NULL REFERENCES "posts" ("id") ON DELETE CASCADE,
    "vote" INTEGER NOT NULL,
    CONSTRAINT "user_vote" CHECK ("vote" IN (1, -1)),
    CONSTRAINT "unique_user_post" UNIQUE ("user_id", "post_id")
);

 * postgresql://postgres:***@localhost:5432/udacity
Done.
Done.

[]

In [222]:
%%sql
WITH sub1 AS (SELECT bad_posts.id as post_id,
              regexp_split_to_table(bad_posts.downvotes, ',') as downvotes
              FROM bad_posts
),

sub2 AS (SELECT bad_posts.id as post_id,
              regexp_split_to_table(bad_posts.upvotes, ',') as upvotes
              FROM bad_posts
),

sub3 AS (SELECT u.id as user_id, sub1.post_id as post_id, -1 as vote
FROM sub1
JOIN users u
ON u.username = sub1.downvotes
GROUP BY 1,2
UNION
SELECT u.id as user_id, sub2.post_id as post_id, 1 as vote
FROM sub2
JOIN users u
ON u.username = sub2.upvotes
GROUP BY 1,2
)

INSERT INTO "votes" ("user_id", "post_id", "vote")
SELECT user_id, post_id, vote
FROM sub3

 * postgresql://postgres:***@localhost:5432/udacity
499710 rows affected.

[]

In [270]:
%%sql
DROP TABLE IF EXISTS "votes" CASCADE;
CREATE TABLE IF NOT EXISTS "votes" (
    "id" SERIAL PRIMARY KEY,
    "user_id" INTEGER REFERENCES "users" ("id") ON DELETE SET NULL,
    "post_id" INTEGER NOT NULL REFERENCES "posts" ("id") ON DELETE CASCADE,
    "vote" INTEGER NOT NULL,
    CONSTRAINT "user_vote" CHECK ("vote" IN (1, -1)),
    CONSTRAINT "unique_user_post" UNIQUE ("user_id", "post_id")
);

 * postgresql://postgres:***@localhost:5432/udacity
Done.
Done.

[]

In [273]:
%%sql
WITH sub1 AS (
    SELECT 
        bad_posts.id AS "post_id",
        regexp_split_to_table(bad_posts.downvotes, ',') AS downvotes
    FROM "bad_posts"
),

sub2 AS (
    SELECT 
        bad_posts.id AS post_id,
        regexp_split_to_table(bad_posts.upvotes, ',') AS upvotes
    FROM bad_posts
),

sub3 AS (
    SELECT 
        u.id AS user_id,
        sub1.post_id AS post_id,
        -1 AS vote
    FROM sub1
    JOIN users u ON u.username = sub1.downvotes
    GROUP BY 1, 2
    
    UNION
    
    SELECT 
        u.id AS user_id,
        sub2.post_id AS post_id,
        -1 AS vote
    FROM sub2
    JOIN users u ON u.username = sub2.upvotes
    GROUP BY 1, 2
)

INSERT INTO "votes" ("user_id", "post_id", "vote")
SELECT "user_id", "post_id", "vote"
FROM sub3

 * postgresql://postgres:***@localhost:5432/udacity
499710 rows affected.

[]

In [232]:
%%sql
select * from votes limit 4;

 * postgresql://postgres:***@localhost:5432/udacity
4 rows affected.

[(1, 7, 181, 1), (2, 7, 398, -1), (3, 7, 475, -1), (4, 7, 486, -1)]

In [235]:
%%sql
DROP TABLE IF EXISTS "comments" CASCADE;

CREATE TABLE IF NOT EXISTS "comments" (
    "id" SERIAL PRIMARY KEY,
    "text_content" TEXT NOT NULL,
    "user_id" INTEGER REFERENCES "users" ("id") ON DELETE SET NULL,
    "post_id" INTEGER NOT NULL REFERENCES "posts" ("id") ON DELETE CASCADE,
    "parent_comment_id" INTEGER REFERENCES "comments" ("id") ON DELETE CASCADE,
    "created_at" TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "non_empty_comment" CHECK (TRIM("text_content") != '')
);

 * postgresql://postgres:***@localhost:5432/udacity
Done.
Done.

[]

In [236]:
%%sql

INSERT INTO "comments" ("user_id", "post_id", "text_content")
SELECT
    u.id,
    bc.post_id,
    bc.text_content
FROM
    "bad_comments" bc
JOIN
    "posts" p ON (p.id = bc.post_id)
JOIN
    "users" u ON (u.username = bc.username);

 * postgresql://postgres:***@localhost:5432/udacity
100000 rows affected.

[]

In [268]:
%%sql
DROP TABLE IF EXISTS users CASCADE;

CREATE TABLE IF NOT EXISTS "users"  (
    "id" SERIAL PRIMARY KEY,
    "username" VARCHAR(25) NOT NULL,
    "last_login" TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "unique_username" UNIQUE ("username"),
    CONSTRAINT "non_empty_username" CHECK (TRIM("username") != '')
); 

INSERT INTO "users" ("username")
SELECT DISTINCT "username"
FROM (
    -- Usernames from posts
    SELECT "username" FROM "bad_posts"
    UNION
    -- Usernames from comments
    SELECT "username" FROM "bad_comments"
    UNION
    -- Usernames from upvotes (split comma-separated list)
    SELECT regexp_split_to_table("upvotes", ',') 
    FROM "bad_posts"
    UNION 
    -- Usernames from downvotes (split comma-separated list)
    SELECT regexp_split_to_table("downvotes", ',') 
    FROM "bad_posts"
) AS combined_usernames;

 * postgresql://postgres:***@localhost:5432/udacity
Done.
Done.
11077 rows affected.

[]

In [242]:
%%sql
select * from users limit 5;

 * postgresql://postgres:***@localhost:5432/udacity
5 rows affected.

[(1, 'Aaliyah.Kilback', datetime.datetime(2025, 3, 19, 12, 31, 58, 80241, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))),
 (2, 'Aaliyah.Waelchi', datetime.datetime(2025, 3, 19, 12, 31, 58, 80241, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))),
 (3, 'Aaliyah_Spencer25', datetime.datetime(2025, 3, 19, 12, 31, 58, 80241, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))),
 (4, 'Aaliyah3', datetime.datetime(2025, 3, 19, 12, 31, 58, 80241, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000)))),
 (5, 'Aaron.Mills81', datetime.datetime(2025, 3, 19, 12, 31, 58, 80241, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))))]

In [247]:
%%sql
DROP TABLE IF EXISTS topics CASCADE;

CREATE TABLE IF NOT EXISTS "topics" (
    "id" SERIAL PRIMARY KEY,
    "topic" VARCHAR(30) NOT NULL,
    "description" VARCHAR(500) DEFAULT NULL,
    CONSTRAINT "unique_topic" UNIQUE ("topic"),
    CONSTRAINT "non_empty_topic" CHECK (TRIM("topic") <> '')

);
INSERT INTO "topics" ("topic")
SELECT DISTINCT "topic"
FROM "bad_posts";

 * postgresql://postgres:***@localhost:5432/udacity
Done.
Done.
89 rows affected.

[]

In [252]:
%%sql
select * from users where username is null;

 * postgresql://postgres:***@localhost:5432/udacity
0 rows affected.

[]

In [257]:
%%sql
DROP TABLE IF EXISTS posts CASCADE;
CREATE TABLE IF NOT EXISTS "posts" (
    "id" SERIAL PRIMARY KEY,
    "user_id" INTEGER REFERENCES "users" ("id") ON DELETE SET NULL,
    "topic_id" INTEGER NOT NULL REFERENCES "topics" ("id") ON DELETE CASCADE,
    "title" VARCHAR(100) NOT NULL,
    "url" VARCHAR,
    "text_content" TEXT,
    "created_at" TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "non_empty_post" CHECK (TRIM("title") <> ''),
    CONSTRAINT "url_or_text_content" CHECK (
        "url" IS NOT NULL OR "text_content" IS NOT NULL)
);

INSERT INTO "posts" (
    "user_id",
    "topic_id",
    "title",
    "url",
    "text_content"
)
SELECT
    u.id,
    t.id,
    LEFT(b.title, 100),
    b.url,
    b.text_content
FROM
    "users" u
JOIN
    "bad_posts" b
    ON u.username = b.username
JOIN
    "topics" t
    ON t.topic = b.topic;

 * postgresql://postgres:***@localhost:5432/udacity
Done.
Done.
50000 rows affected.

[]

In [261]:
%%sql
CREATE INDEX "post_votes" ON "votes" ("post_id");

 * postgresql://postgres:***@localhost:5432/udacity
Done.

[]

In [262]:
%%sql
CREATE INDEX "users_latest_comments" 
ON "comments" ("user_id", "created_at" DESC);

 * postgresql://postgres:***@localhost:5432/udacity
Done.

[]

In [263]:
%%sql
CREATE INDEX "top_level_comments" 
ON "comments" ("parent_comment_id", "post_id");

 * postgresql://postgres:***@localhost:5432/udacity
Done.

[]

In [264]:
%%sql
CREATE INDEX "specific_url" ON "posts" ("url" VARCHAR_PATTERN_OPS);

 * postgresql://postgres:***@localhost:5432/udacity
Done.

[]

In [265]:
%%sql
CREATE INDEX "posts_topic_created_at_idx" 
ON "posts" ("user_id", "created_at" DESC);

 * postgresql://postgres:***@localhost:5432/udacity
Done.

[]

In [266]:
%%sql
CREATE INDEX "posts_topic_created_at" 
ON "posts" ("topic_id", "created_at" DESC);

 * postgresql://postgres:***@localhost:5432/udacity
Done.

[]

In [269]:
%%sql
CREATE INDEX "users_last_login" ON "users" ("last_login");

 * postgresql://postgres:***@localhost:5432/udacity
Done.

[]