## Writing Queries

In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:password@localhost:5432/student

## Creating Tables wit `CREATE TABLE`

In [10]:
%%sql
CREATE TABLE IF NOT EXISTS "students"(
    "id" SERIAL,
    "name" TEXT,
    "rank" INTEGER
);

 * postgresql://postgres:***@localhost:5432/student
Done.

[]

In [13]:
%%sql
CREATE TABLE IF NOT EXISTS "employees" (
    "emp_id" SERIAL,
    "emp_name" TEXT,
);

CREATE TABLE IF NOT EXISTS "managers" (
    "manager_id" SERIAL,
    "emp_id" INTEGER,
    "manager_name" TEXT,
    "manager_phones" TEXT
);

 * postgresql://postgres:***@localhost:5432/student
(psycopg2.errors.SyntaxError) syntax error at or near ")"
LINE 4: );
        ^

[SQL: CREATE TABLE IF NOT EXISTS "employees" (
    "emp_id" SERIAL,
    "emp_name" TEXT,
);]
(Background on this error at: https://sqlalche.me/e/20/f405)